/* ##
  @PROJECT_NAME             Version Information Spy Reporter DLL
  @PROJECT_DESC             Provides reporter objects that write reports about
                            version information to a stream.
  @FILE                     HTML.rc
  @COMMENTS                 Stores various RT_HTML resource elements that are
                            included in HTML reports using res:// protocol.
  @DEPENDENCIES             None.
  @HISTORY(
    @REVISION(
      @VERSION              1.0
      @DATE                 20/05/2004
      @COMMENTS             Original version.
    )
  )
*/


/*
 * ***** BEGIN LICENSE BLOCK *****
 * 
 * Version: MPL 1.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at http://www.mozilla.org/MPL/
 * 
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
 * the specific language governing rights and limitations under the License.
 * 
 * The Original Code is HTML.rc.
 *
 * The Initial Developer of the Original Code is Peter Johnson
 * (http://www.delphidabbler.com/).
 *
 * Portions created by the Initial Developer are Copyright (C) 2004 Peter
 * Johnson. All Rights Reserved.
 *
 * Contributor(s):
 *
 * ***** END LICENSE BLOCK *****
 */


/* Define HTML resource type */

#define RT_HTML 23



/* Style sheet */

Report_css        RT_HTML   "Res\Report.css"


/* Images */

/* background images */
Fill_gif          RT_HTML   "Res\Fill.gif"
Rule_gif          RT_HTML   "Res\Rule.gif"

/* icons */
Help_gif          RT_HTML   "Res\Help.gif"
Bomb_gif          RT_HTML   "Res\Bomb.gif"
LeftArrow_gif     RT_HTML   "Res\LeftArrow.gif"


/* HTML pages accessed when report viewed externally */

/* fixed file info page */
FFIHelp_hlp       RT_HTML   "Res\FFIHelp.html"

/* string table page */
StrTableHelp_hlp  RT_HTML   "Res\StrTableHelp.html"
