/* ##
  @FILE                     FVCImages.rc
  @COMMENTS                 Resource file that stores images in program's
                            resources.
  @PROJECT_NAME             Version Information Spy Command Line Program
  @PROJECT_DESC             Command line application that displays version
                            information embedded in executable and binary
                            resource files.
  @HISTORY(
    @REVISION(
      @VERSION              1.0
      @DATE                 19/08/2007
      @COMMENTS             Original version that includes program's MAINICON.
    )
  )
*/


/*
 * ***** BEGIN LICENSE BLOCK *****
 * 
 * Version: MPL 1.1
 * 
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at http://www.mozilla.org/MPL/
 * 
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
 * the specific language governing rights and limitations under the License.
 * 
 * The Original Code is FVCImages.rc.
 * 
 * The Initial Developer of the Original Code is Peter Johnson
 * (http://www.delphidabbler.com/).
 * 
 * Portions created by the Initial Developer are Copyright (C) 2007 Peter
 * Johnson. All Rights Reserved.
 * 
 * ***** END LICENSE BLOCK *****
 */


MAINICON ICON "Images\FileVerCmd.ico"

